<div class="cbp-item misc">
    <div class="cbp-caption margin-bottom-20">
        <div class="cbp-caption-defaultWrap">
            <img src="/img/lakers.png" alt="Lakers">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <ul class="link-captions no-bottom-space">
                        <li><a href="{{ path("lakers")}}"><i class="ti-link"></i></a></li>
                        <li><a href="/img/lakers.png" class="cbp-lightbox" data-title="湖人"><i class="ti-zoom-in"></i></a></li>
                    </ul>
                </div>
            </div>                      
        </div>                              
    </div><!--/cbp-caption-->
    <div class="cbp-title-dark mb30">
        <div class="cbp-l-grid-agency-title">湖人赛季{{ year }}-{{ year+1 }}</div>
        {% set win=res.status.win %}
        {% set lose=res.status.lose %}
        <div class="cbp-l-grid-agency-desc">本赛季湖人胜场<span class="badge bg-warning text-dark">{{ win }}</span>，负场<span class="badge bg-warning text-dark">{{ lose }}</span><br/>
            胜率<span class="badge bg-warning text-dark">{{ (res.status.pct*100)|number_format(1, '.', ',') }}%</span><br/><br/>
            <a href="{{ path("lakers")}}" class="btn btn-sm btn-primary">赛季场次明细 <i class="fa fa-arrow-right"></i></a>
        </div>
    </div><!--/bottom desc-->
</div>