<div class="cbp-item web-design graphic print motion">
    <div class="cbp-caption margin-bottom-20">
        <div class="cbp-caption-defaultWrap">
           <img src="{{ include("widget/cover.html.twig", {bookid: book.bookid, title: book.title, author: book.author, width: 600}) }}" alt="{{ book.title }}">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <ul class="link-captions no-bottom-space">
                        <li><a href="{{ path('detail', {bookid: book.bookid}) }}"><i class="ti-link"></i></a></li>
                        <li><a href="{{ include("widget/cover.html.twig", {bookid: book.bookid, title: book.title, author: book.author, width: 600}) }}" class="cbp-lightbox" data-title="Design Object"><i class="ti-plus"></i></a></li>
                    </ul>
                </div>
            </div>                      
        </div>                              
    </div><!--/cbp-caption-->
    <div class="cbp-title-dark mb30">
        <div class="cbp-l-grid-agency-title">最新藏书</div>
        <div class="cbp-l-grid-agency-desc">{{ book.purchdate|date("Y年m月d日") }}收藏了<a href="{{ path('list', {type: 'author', key: book.author}) }}">{{ book.author }}</a>的<a href="{{ path('detail', {bookid: book.bookid}) }}">《{{ book.title }}》</a>。</div>
    </div><!--/bottom desc-->
</div>