<div class="box-content box-gallery padd-zero">
    <div class="img-details box-hover-black">
        <!-- Heading -->
        <h3><a href="{{ path("detail", {bookid:res.bookid}) }}">{{ res.title }}</a></h3>
        <!-- Paragraph -->
        <p>最新收藏于{{ res.purchdate|date("Y年m月d日") }}的书是{{ res.author }}所著的《<a href="{{ path("detail", {bookid:res.bookid}) }}">{{ res.title }}</a>》。</p>
        <p>摘要：{{ res.intro }}</p>
        <!-- View Next Button -->
        <div class="view-button">
            <a href="{{ path("detail", {bookid:res.bookid}) }}" class="btn btn-danger">更多内容 <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <!-- Image -->
    <img src="{{ res.img }}" class="img-responsive box-gallery-img" alt="{{ res.title }}" />
    
</div>