<div class="cbp-item read blog">
    <div class="cbp-caption margin-bottom-20">
        <div class="cbp-caption-defaultWrap">
            <img src="{{ include('widget/cover.html.twig', {bookid: read.bookid, author: read.author, title: read.title, width: 600}) }}" alt="read.booktitle">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <ul class="link-captions no-bottom-space">
                        <li><a href="{{ read.URI }}" target="_blank"><i class="ti-link"></i></a></li>
                        <li><a href="{{ include('widget/cover.html.twig', {bookid: read.bookid, author: read.author, title: read.title, width: 600}) }}" class="cbp-lightbox" data-title="Design Object"><i class="ti-zoom-in"></i></a></li>
                    </ul>
                </div>
            </div>                      
        </div>                              
    </div><!--/cbp-caption-->
    <div class="cbp-title-dark mb30">
        <div class="cbp-l-grid-agency-title">最新书评</div>
        <div class="cbp-l-grid-agency-desc">{{ read.datein|date("Y年m月d日")}}写下了<br/>《<a href="{{ path('detail', {bookid: read.bookid}) }}">{{ read.booktitle }}</a>》的书评<br/><a href="{{ read.URI }}" target="_blank">{{ read.title }}</a></div>
    </div><!--/bottom desc-->
    <div class="cbp-title-dark mb30">
        <div class="cbp-l-grid-agency-title">书评摘要</div>
        <div class="cbp-l-grid-agency-desc">共写了<span class="badge bg-warning text-dark">{{ summary.hc }}</span>本书的书评<br/>
            计<span class="badge bg-warning text-dark">{{ summary.rc }}</span>篇<br/><br/>
        <a href="{{ path('read') }}" class="btn btn-sm btn-primary">浏览全部书评 <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>