<div class="cbp-item book">
    <div class="cbp-caption margin-bottom-20">
        <div class="cbp-caption-defaultWrap">
            <img src="{{ include("widget/cover.html.twig", {bookid: book.bookid, title: book.title, author: book.author, width:600}) }}" alt="{{ book.title }}" id="rvi">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <ul class="link-captions no-bottom-space">
                        <li><a href="{{ path('detail', {bookid: book.bookid}) }}"><i class="ti-link"></i></a></li>
                        <li><a id="rvi2" href="{{ include("widget/cover.html.twig", {bookid: book.bookid, title: book.title, author: book.author, width:600}) }}" class="cbp-lightbox"  data-title="随机推荐：{{ book.title }}"><i class="ti-zoom-in"></i></a></li>
                        <li><a onclick="refresh_random_book()" }}"><i class="fa fa-refresh"></i></a></li>
                    </ul>
                </div>
            </div>                      
        </div>                              
    </div><!--/cbp-caption-->
    <div class="cbp-title-dark mb30">
        <div class="cbp-l-grid-agency-title">随机推荐一本书</div>
        <div class="cbp-l-grid-agency-desc"><a href="{{ path('detail', {bookid: book.bookid}) }}" id="rbt">《{{ book.title }}》</a><br/>
            【<span id="rbr">{{ book.region }}</span>】<a href="{{ path('list', {type: 'author', key: book.author}) }}" id='rba'>{{ book.author }}</a>著<br/>
            收藏于<span id="rbp">{{ book.purchdate }}</span><br/>
            已访问<span class="badge bg-warning text-dark" id="rvc">{{ book.vc|number_format(0, '.', ',') }}</span>次<br/>
            上次访问<span class="badge bg-warning text-dark" id="rvd">{{ book.lvt }}</span><br/><br/>
            <button class="btn btn-sm btn-primary" id="btn_random_book_referesh" onclick="refresh_random_book();">换一本 <i class="fa fa-refresh"></i></button>
        </div>
    </div><!--/bottom desc-->
</div>
