<div class="cbp-item web-design book identity graphic">
    <div class="cbp-caption margin-bottom-20">
        <div class="cbp-caption-defaultWrap">
            <img src="{{ include("widget/cover.html.twig", {bookid: book.bookid, title: book.title, author: book.author, width:600}) }}" alt="{{ book.title }}">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <ul class="link-captions no-bottom-space">
                        <li><a href="{{ path('detail', {bookid: book.bookid}) }}"><i class="ti-link"></i></a></li>
                        <li><a href="{{ include("widget/cover.html.twig", {bookid: book.bookid, title: book.title, author: book.author, width:600}) }}" class="cbp-lightbox" data-title="Design Object"><i class="ti-zoom-in"></i></a></li>
                    </ul>
                </div>
            </div>                      
        </div>                              
    </div><!--/cbp-caption-->
    <div class="cbp-title-dark mb30">
        <div class="cbp-l-grid-agency-title">随机推荐一本书</div>
        <div class="cbp-l-grid-agency-desc"><a href="{{ path('detail', {bookid: book.bookid}) }}">《{{ book.title }}》</a>，<br/>
            【{{ book.region }}】<a href="{{ path('list', {type: 'author', key: book.author}) }}">{{ book.author }}</a>著，<br/>
            收藏于{{ book.purchdate|date('Y年m月d日') }}，<br/>
            已访问<span class="badge bg-warning text-dark">{{ book.vc|number_format(0, '.', ',') }}</span>次，上次访问时间<span class="badge bg-warning text-dark">{{ book.lvt|date("Y年m月d日") }}</span>。
        </div>
    </div><!--/bottom desc-->
</div>
