<div class="pics" id="box-slider-one">
    <!-- Images -->
    {% for book in res %}
        <a href="{{ path('detail', {bookid: book.bookid}) }}"><img src="http://api/book/image/{{ book.bookid  }}/{{ book.author }}/{{ book.title }}/500" class="img-responsive" alt="{{ book.title }}" /></a>
    {% endfor %}
</div>