{% extends 'base.html.twig' %}

{% block title %}
    任氏有无轩 | 书评列表 | {{ page }}/{{ res.pc }}
{% endblock %}

{% block body %}
    <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("/img/background.png")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">首页</a></li>
                        <li class="breadcrumb-item">书评</li>
                    </ol>
                    <h1>书评列表</h1>
                    <h4>第<span class="badge bg-warning text-dark">{{ page }}</span>页 / <span class="badge bg-warning text-dark">{{ res.pc }}</span>页</h4>
                </div>
            </div>
        </div>
    </div><!--page title end-->

    <div class="container pt100 pb60">
        <div class='row'>
            <div class='col-lg-9 mb40'>
                {% for read in res.readings %}
                    {% if loop.index%3==1 %}
                    <div class='row'>{% endif %}
                        <div class='col-lg-3 mb40'><a href="{{ path('detail', {bookid: read.bookid}) }}"><img src="{{ include('widget/cover.html.twig', {bookid: read.bookid, author: read.author, title: read.booktitle, width: 200}) }}" alt="{{ read.booktitle }}"></a><br/>
                            书评：<a href="{{ read.URI }}" target="_blank">{{ read.title }}</a><br/>
                            日期：{{ read.create_at|date('Y年m月d日') }}
                        </div>
                    {% if loop.index%3==0 %}</div>{% endif %}
                {% endfor %}
                <div class='bg-faded pd-card'>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="{{ path('read', { page: 1}) }}"><i class="ti-angle-double-left"></i></a></li>
                            <li class="page-item {% if page<=1 %}disabled{% endif %}"><a class="page-link" href="{{ path('read', {page: page-1}) }}"><i class="ti-angle-left"></i></a></li>
                            <li class="page-item {% if page>=res.pc %}disabled{% endif %}"><a class="page-link" href="{{ path('read', {page: page+1}) }}"><i class="ti-angle-right"></i></a></li>
                            <li class="page-item"><a class="page-link" href="{{ path('read', {page: res.pc}) }}"><i class="ti-angle-double-right"></i></a></li>
                        </ul>
                    </nav>
                    直接修改浏览器中的页码可以快速跳转
                </div>
            </div>
            <div class="col-lg-3 mb40">
                {{ include('widget/book/search_sidebar.html.twig') }}
            </div>

        </div>
    </div>
{% endblock %}
