{% extends "base.html.twig" %}

{% block title %}
    任氏有无轩 | 我们一家人
{% endblock %}

{% block meta %}
    <meta name="description" content="任氏有无轩家人">
    <meta name="keywords" content="任氏有无轩, 家人">
{% endblock %}

{% block body %}
    <div class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Inner Page Content Sidebar -->
                    <div class="page-sidebar">
                        <!-- Page Title -->
                        <div class="page-title br-green">
                            <!-- Inner Page Title // Heading -->
                            <h2>我们一家人</h2>
                            <!-- Paragraph -->
                            <p>开开心心、健健康康地在一起！</p>
                        </div>
                        <!-- Sidebar Links -->
                        <div class="sidebar-link col-disable">
                            <!-- Search Box Deleted-->
                            {{ include('widget/sidebar.html.twig') }}
                        </div>
                    </div>
                </div>
                <!-- Main-bar Column -->
                <div class="col-md-9">
                    <div class="page-mainbar aboutus">
                        <!-- About Content -->
                        <div class="aboutus-content">
                            <!-- Heading -->
                            <h3>我们一家人</h3>
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <!-- Client Quotes -->
                                    <div class="aboutus-quote">
                                        <!-- Quotes -->
                                        <span>&#8220;</span>
                                        <!-- Paragraph -->
                                        <p>我们快乐、我们健康、我们满足。我们有共同的也有各自的追求。</p>
                                        <h5 class="pull-right">- <img src="img/logo.jpg" class="img-responsive img-circle" alt="" /></h5>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <h6>家庭格言</h6>
                                    <!-- Paragraph -->
                                    <p class="grey">有书万事足，无官一身轻。</p>
                                    <p class="grey">书中自有黄金屋，书中自有千钟粟。</p>
                                    <p class="grey">尔曹身与名俱灭，不废江河万古流。</p>
                                </div>
                            </div>
                        </div>	
                        <!-- About Us Member -->
                        <div class="aboutus-member">
                            <!-- Heading -->
                            <h3>家庭成员</h3>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <!-- Member Content -->
                                    <div class="member-content">
                                        <!-- Image -->
                                        <img src="img/tr.jpg" class="img-responsive img-circle" alt="Taylor Ren" />
                                        <!-- Heading -->
                                        <h4>TR</h4>
                                        <hr />
                                        <!-- Social Media -->
                                        <div class="social">
                                            <a href="https://www.suzhousinternationalschool.com/">国际教育</a>，翻译
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <!-- Member Content -->
                                    <div class="member-content">
                                        <!-- Image -->
                                        <img src="img/gr.jpg" class="img-responsive img-circle" alt="Gloria Rong" />
                                        <!-- Heading -->
                                        <h4>GR</h4>
                                        <hr />
                                        <!-- Social Media -->
                                        <div class="social">
                                            外资企业
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <!-- Member Content -->
                                    <div class="member-content">
                                        <!-- Image -->
                                        <img src="img/pr.jpg" class="img-responsive img-circle" alt="Peter Ren" />
                                        <!-- Heading -->
                                        <h4>PR</h4>
                                        <hr />
                                        <!-- Social Media -->
                                        <div class="social">
                                            <a href="https://www.utexas.edu/">德州大学</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- About Us Skills -->
                        <div class="aboutus-skill">
                            <!-- Heading -->
                            <h3>一些基本数据</h3>
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <!-- Skill Item -->
                                    <div class="skill-item">
                                        <!-- Image // Flat Icon -->
                                        <img src="img/flat-icon/fi02.png" class="img-responsive" alt="" />
                                        <!-- Heading -->
                                        <h6>我们的年龄</h6>
                                        <!-- Paragraph -->
                                        <p class="grey">TR属狗，GR属牛，PR属龙。</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- Skill Item -->
                                    <div class="skill-item">
                                        <!-- Image // Flat Icon -->
                                        <img src="img/flat-icon/fi02.png" class="img-responsive" alt="" />
                                        <!-- Heading -->
                                        <h6>工作时间</h6>
                                        <!-- Paragraph -->
                                        <p class="grey">TR于96年、GR于96年开始工作。PR还在读书。</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- Skill Item -->
                                    <div class="skill-item">
                                        <!-- Image // Flat Icon -->
                                        <img src="img/flat-icon/fi02.png" class="img-responsive" alt="" />
                                        <!-- Heading -->
                                        <h6>TR&GR在一起</h6>
                                        <!-- Paragraph -->
                                        <p class="grey">TR&GR是1999年4月18日结婚的！</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- Skill Item -->
                                    <div class="skill-item">
                                        <!-- Image // Flat Icon -->
                                        <img src="img/flat-icon/fi02.png" class="img-responsive" alt="" />
                                        <!-- Heading -->
                                        <h6>我们的居所</h6>
                                        <!-- Paragraph -->
                                        <p class="grey">我们家在苏州。不过PR读书期间会在美国。</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                {% set year="now"|date("Y") %}
                                <div class="col-md-5 col-sm-5">
                                    <div class="progress-skill">
                                        <span>总年龄（每人活到100岁！）</span>
                                        <span class="pull-right">{{ year*3-1970-1973-2000 }}/300岁</span>
                                        <div class="clearfix"></div>
                                        <!-- Progress Bar -->
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" data-end="{{ (year*3-1970-1973-2000)/3 }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-skill">
                                        <span>总工作年限（每人工作30年！）</span>
                                        <span class="pull-right">{{ year*2-1996*2 }}/105年</span>
                                        <div class="clearfix"></div>
                                        <!-- Progress Bar -->
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" data-end="{{ (year*2-1996*2)/35/3*100 }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-skill">
                                        <span>TR&GR在一起</span>
                                        <span class="pull-right">{{ year-1999 }}/99年</span>
                                        <div class="clearfix"></div>
                                        <!-- Progress Bar -->
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" data-end="{{ year-1999 }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}    