{% extends "base.html.twig" %}

{% block title %}
    任氏有无轩 | 藏书、读书、博客、维客、资源
{% endblock %}
{% block body %}
    <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("/img/background.png")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">首页</a></li>
                    </ol>
                    <h1>任氏有无轩 | 藏书、读书、博客、维客、资源</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->

    <div class="container pt100 pb100">
        <div class="">
            <div class="">
                <div class="clearfix">
                    <div id="js-filters-lightbox-gallery" class="cbp-l-filters-button cbp-l-filters-left">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">所有</div>
                        <div data-filter=".book" class="cbp-filter-item">藏书</div>
                        <div data-filter=".read" class="cbp-filter-item">读书</div>
                        <div data-filter=".blog" class="cbp-filter-item">博客</div>
                        <div data-filter=".misc" class="cbp-filter-item">杂项</div>
                    </div>
                </div>
                <div id="js-grid-lightbox-gallery" class="cbp">
                    {{ render(controller('App\\Controller\\BookController::latest')) }}
                    {{ render(controller('App\\Controller\\BookController::today')) }}
                    {{ render(controller('App\\Controller\\BookController::random', {max: 1})) }}
                    
                    {{ render(controller('App\\Controller\\ReadController::latest', {max: 1})) }}
                    {{ render(controller('App\\Controller\\MiscController::weather')) }}
                    {{ render(controller('App\\Controller\\BlogController::latest')) }}
                    
                    {{ render(controller('App\\Controller\\BlogController::today')) }}
                    {{ render(controller('App\\Controller\\MiscController::lakers_summary')) }}
                    {{ render(controller('App\\Controller\\MiscController::qotd')) }}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script>
        //projects
        (function ($, window, document, undefined) {
            'use strict';

            // init cubeportfolio
            $('#js-grid-lightbox-gallery').cubeportfolio({
                filters: '#js-filters-lightbox-gallery',
                layoutMode: 'masonry',
                mediaQueries: [{
                        width: 1500,
                        cols: 3
                    }, {
                        width: 1100,
                        cols: 3
                    }, {
                        width: 800,
                        cols: 2
                    }, {
                        width: 480,
                        cols: 2,
                        options: {
                            caption: ''
                        }
                    }],
                defaultFilter: '*',
                animationType: 'sequentially',
                gapHorizontal: 10,
                gapVertical: 10,
                gridAdjustment: 'responsive',
                caption: 'zoom',
                displayType: 'fadeIn',
                displayTypeSpeed: 100,
                // lightbox
                lightboxDelegate: '.cbp-lightbox',
                lightboxGallery: true,
                lightboxTitleSrc: 'data-title',
                //lightboxCounter: '<div class="cbp-popup-lightbox-counter">1 of 4</div>'
            });
        })(jQuery, window, document);
    </script>
{% endblock %}

{% block rsywx_script %}
    <script type="text/javascript" src="/js/rsywx/random_book.js">    
    </script>
    <script type="text/javascript" src="/js/rsywx/random_quote.js">    
    </script>
{% endblock %}
