{% extends "base.html.twig" %}

{% block title %}
    任氏有无轩 | 藏书、读书、博客、维客、资源
{% endblock %}
{% block body %}
    <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("/img/background.png")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">首页</a></li>
                    </ol>
                    <h1>任氏有无轩 | 藏书、读书、博客、维客、资源</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->

    <div class="container pt100 pb100">
        <div class="">
            <div class="">
                <div class="clearfix">
                    <div id="js-filters-lightbox-gallery" class="cbp-l-filters-button cbp-l-filters-left">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">所有</div>
                        <div data-filter=".book" class="cbp-filter-item">藏书</div>
                        <div data-filter=".read" class="cbp-filter-item">读书</div>
                        <div data-filter=".blog" class="cbp-filter-item">博客</div>
                        <div data-filter=".misc" class="cbp-filter-item">杂项</div>
                    </div>
                </div>
                <div id="js-grid-lightbox-gallery" class="cbp">
                    {{ render(controller('App\\Controller\\BookController::latestBook')) }}
                    {{ render(controller('App\\Controller\\BookController::randomBook', {max: 1})) }}
                    {{ render(controller('App\\Controller\\ReadController::latestRead', {max: 1})) }}
                    {{ render(controller('App\\Controller\\MiscController::lakers_summary')) }}
                    {{ render(controller('App\\Controller\\MiscController::weather')) }}
                    <div class="cbp-item motion print logos web-design">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="images/img5.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li><a href="folio-detail.html"><i class="ti-link"></i></a></li>
                                            <li><a href="images/img5.jpg" class="cbp-lightbox" data-title="Design Object"><i class="ti-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>                      
                            </div>                              
                        </div><!--/cbp-caption-->
                        <div class="cbp-title-dark mb30">
                            <div class="cbp-l-grid-agency-title">6666666666</div>
                            <div class="cbp-l-grid-agency-desc">Landing pages</div>
                        </div><!--/bottom desc-->
                    </div>
                    <div class="cbp-item graphic logos">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="images/wide1.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li><a href="folio-detail.html"><i class="ti-link"></i></a></li>
                                            <li><a href="images/wide1.jpg" class="cbp-lightbox" data-title="Design Object"><i class="ti-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>                      
                            </div>                              
                        </div><!--/cbp-caption-->
                        <div class="cbp-title-dark mb30">
                            <div class="cbp-l-grid-agency-title">7777777777777</div>
                            <div class="cbp-l-grid-agency-desc">Landing pages</div>
                        </div><!--/bottom desc-->
                    </div>
                    <div class="cbp-item identity print logos motion">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="images/img7.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li><a href="folio-detail.html"><i class="ti-link"></i></a></li>
                                            <li><a href="images/img7.jpg" class="cbp-lightbox" data-title="Design Object"><i class="ti-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>                      
                            </div>                              
                        </div><!--/cbp-caption-->
                        <div class="cbp-title-dark mb30">
                            <div class="cbp-l-grid-agency-title">88888888888</div>
                            <div class="cbp-l-grid-agency-desc">Landing pages</div>
                        </div><!--/bottom desc-->
                    </div>
                    <div class="cbp-item identity motion web-design">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/images/img1.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li><a href="folio-detail.html"><i class="ti-link"></i></a></li>
                                            <li><a href="/images/img1.jpg" class="cbp-lightbox" data-title="Design Object"><i class="ti-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>                      
                            </div>                              
                        </div><!--/cbp-caption-->
                        <div class="cbp-title-dark mb30">
                            <div class="cbp-l-grid-agency-title">99999999999999999</div>
                            <div class="cbp-l-grid-agency-desc">Landing pages</div>
                        </div><!--/bottom desc-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script>
        //projects
        (function ($, window, document, undefined) {
            'use strict';

            // init cubeportfolio
            $('#js-grid-lightbox-gallery').cubeportfolio({
                filters: '#js-filters-lightbox-gallery',
                layoutMode: 'masonry',
                mediaQueries: [{
                        width: 1500,
                        cols: 3
                    }, {
                        width: 1100,
                        cols: 3
                    }, {
                        width: 800,
                        cols: 2
                    }, {
                        width: 480,
                        cols: 2,
                        options: {
                            caption: ''
                        }
                    }],
                defaultFilter: '*',
                animationType: 'sequentially',
                gapHorizontal: 10,
                gapVertical: 10,
                gridAdjustment: 'responsive',
                caption: 'zoom',
                displayType: 'fadeIn',
                displayTypeSpeed: 100,
                // lightbox
                lightboxDelegate: '.cbp-lightbox',
                lightboxGallery: true,
                lightboxTitleSrc: 'data-title',
                //lightboxCounter: '<div class="cbp-popup-lightbox-counter">1 of 4</div>'
            });
        })(jQuery, window, document);
    </script>
{% endblock %}

{% block script_random_book %}
    <script type="text/javascript" src="/js/rsywx/random_book.js">    
    </script>
{% endblock %}
