{% extends "base.html.twig" %}

{% block title %}
    任氏有无轩 | {{ book.title }}
{% endblock %}

{% block body %}
    <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("/img/background.png")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">首页</a></li>
                        <li class="breadcrumb-item">藏书明细</li>
                    </ol>
                    <h1>{{ book.title }}</h1>
                    <h5>ISBN: <span class="badge bg-warning text-dark">{{ book.isbn }}</span>{% if book.category is not null %} | 分类号：<span class="badge bg-warning text-dark">{{ book.category|trim }}{% endif %}</span></h5>
                </div>
            </div>
        </div>
    </div><!--page title end-->
    <div class="container pt90 pb50">
        <div class="row">
            <div class="col-md-8 mb40">
                <article>

                    <div class="owl-carousel owl-theme carousel-image mb30">
                        <div class="item">
                            <img src="{{ include('widget/cover.html.twig', {bookid: book.bookid, author: book.author, title: book.title, width: 600}) }}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="post-content">

                        <h3>{{ book.title }}</h3>

                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> 
                                <a href="{{ path('list', {type: 'author', key: book.author}) }}">【{{ book.region }}】{{ book.author }}</a>著
                                {% if book.translated %}
                                    | {{ book.copyrighter }}译
                                {% endif %}

                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> 收藏于{{ book.purchdate|date('Y年m月d日') }}
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> 
                                {%  for tag in book.tags %}<a href="{{ path('list', {type: 'tag', key: tag.tag}) }}"><span class="badge bg-warning text-dark">{{ tag.tag }}</span></a>&nbsp;{% endfor %}
                                <span class="badge bg-warning text-dark"><a data-toggle="modal" data-target="#addtag"><i class="fa fa-plus white"></i></a></span>
                            </li>
                        </ul>
                        <div class="bg-faded pd-card">
                            <p>{{ book.intro|nl2br }}</p>
                        </div>
                    </div>
                </article><!-- post article-->


            </div>
            {{ include('widget/book/detail_sidebar.html.twig', {book: book}) }}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addtag">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-dark">增加自己的TAG</h4>
                </div>
                <div class="modal-body">
                    <form method="get" action="{{ path('add_tag') }}" id="tagform" name="tagform" enctype="application/x-www-form-urlencoded" >
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="control-label text-dark" for="newtags">新增TAG</label>
                                <input
                                    type="text"
                                    class="input-xlarge"
                                    id="newtags"
                                    name="newtags"
                                    size="40"
                                    >
                                <input type="hidden" name="id" value="{{ book.id }}">
                                <input type="hidden" name="bookid" value="{{ book.bookid }}">
                                <p class="help-block ">（用空格分隔）</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

