{% extends 'base.html.twig' %}

{% block title %}任氏有无轩 | {{book.title}}{% endblock %}

{% block body %}
    <div class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Inner Page Content Sidebar -->
                    <div class="page-sidebar">
                        <!-- Page Title -->
                        <div class="page-title br-orange">
                            <!-- Inner Page Title // Heading -->
                            <h2>{{ book.title }}</h2>
                            <!-- Paragraph -->
                            <p>【{{ book.region }}】{{ book.author }}著
                                {% if book.translated %}
                                    ，{{ book.copyrighter }}译
                                {% endif %}
                            </p>
                        </div>
                        <!-- Sidebar Links -->
                        <div class="sidebar-link col-disable">
                            <!-- Search Box -->
                            {{ include("widget/sidebar.html.twig") }}
                        </div>
                    </div>
                </div>
                <!-- Main-bar Column -->
                <div class="col-md-9">
                    <div class="page-mainbar product">
                        <!-- Heading -->
                        <h3>书籍详情</h3>
                        <!-- Product Content -->
                        <div class="row">
                            <div class="col-md-8 col-sm-7">
                                <!-- Product Carousel -->
                                <div id="carousel-example-generic" class="carousel slide">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="https://api.rsywx.com/book/image/{{ book.bookid  }}/{{ book.author }}/{{ book.title }}/600" class="img-responsive" alt="{{ book.title }}" />
                                        </div>
                                    </div>

                                    <!-- Controls -->

                                </div>
                                <!-- Recent Product -->
                                <div class="recent-product">
                                    <!-- Heading -->
                                    <h3>Recent Products</h3>
                                    <a href="#"><img src="img/nav1.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                    <a href="#"><img src="img/w1.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                    <a href="#"><img src="img/w2.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                    <a href="#"><img src="img/w3.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5">
                                <div class="product-sidebar">
                                    <div class="sidebar-widget br-green">
                                        <!-- Heading // Icon -->
                                        <h4><i class="fas fa-tags"></i> TAGs</h4>
                                        <!-- Paragraph -->
                                        <p>
                                            {% for tag in book.tags %}
                                                {{ tag.tag }}&nbsp;
                                            {% endfor  %}
                                        </p>
                                    </div>
                                    <div class="sidebar-widget br-orange">
                                        <!-- Heading // Icon -->
                                        <h4><i class="fa fa-glass"></i> LUXJERY</h4>
                                        <!-- Paragraph -->
                                        <p>Best voluptuary accusation pols revolves laudanum, totam rem aperiam, eaque ipsa beatae vitae dicta sunt explicabo. </p>
                                    </div>
                                    <div class="sidebar-widget br-lblue">
                                        <!-- Heading -->
                                        <h4>SKODA BENZE</h4>
                                        <!-- List -->
                                        <ul class="list-unstyled">
                                            <li>Voluptuary desires to obtain  accusation</li>
                                            <li>Totem rem desires hysteria</li>
                                            <li>Dicta sunt explde sires to obtain icabo</li>
                                            <li>Denouncing plea desires obtain sure</li>
                                            <li>Occaecati cupiditate non</li>
                                        </ul>		
                                        <!-- Button -->
                                        <a href="#" class="btn btn-default btn-circle">Launch Product <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
