{% extends "base.html.twig" %}

{% block title %}
    任氏有无轩 | {{ book.title }}
{% endblock %}

{% block body %}
    <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("/img/background.png")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">首页</a></li>
                        <li class="breadcrumb-item">藏书明细</li>
                    </ol>
                    <h1>{{ book.title }}</h1>
                    <h5>ISBN: <span class="badge bg-warning text-dark">{{ book.isbn }}</span>{% if book.category is not null %} | 分类号：<span class="badge bg-warning text-dark">{{ book.category|trim }}{% endif %}</span></h5>
                </div>
            </div>
        </div>
    </div><!--page title end-->
    <div class="container pt90 pb50">
        <div class="row">
            <div class="col-md-8 mb40">
                <article>

                    <div class="owl-carousel owl-theme carousel-image mb30">
                        <div class="item">
                            <img src="{{ include('widget/cover.html.twig', {bookid: book.bookid, author: book.author, title: book.title, width: 600}) }}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="post-content">

                        <h3>{{ book.title }}</h3>

                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> 
                                <a href="{{ path('list', {type: 'author', key: book.author}) }}">【{{ book.region }}】{{ book.author }}</a>著
                                {% if book.translated %}
                                    | {{ book.copyrighter }}译
                                {% endif %}

                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> 收藏于{{ book.purchdate|date('Y年m月d日') }}
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i> 
                                {%  for tag in book.tags %}<a href="{{ path('list', {type: 'tag', key: tag.tag}) }}">{{ tag.tag }}</a>&nbsp;{% endfor %}
                            </li>
                        </ul>
                        <p>{{ book.intro|nl2br }}</p>
                </article><!-- post article-->


            </div>
            {{ include('widget/book/detail_sidebar.html.twig', {book: book}) }}
        </div>
    </div>
{% endblock %}

