{% extends 'base.html.twig' %}

{% block title %}任氏有无轩 | {{book.title}}{% endblock %}

{% block body %}
    <div class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Inner Page Content Sidebar -->
                    <div class="page-sidebar">
                        <!-- Page Title -->
                        <div class="page-title br-orange">
                            <!-- Inner Page Title // Heading -->
                            <h2>{{ book.title }}</h2>
                            <!-- Paragraph -->
                            <p>【{{ book.region }}】{{ book.author }}著
                                {% if book.translated %}
                                    ，{{ book.copyrighter }}译
                                {% endif %}
                            </p>
                            <p>{{ book.pu_name }}</p>
                            <p>{{ book.isbn }} | {{ book.category }}</p>
                            <p>藏书位置：<span class="badge bg-secondary">{% if book.location is not null %}{{ book.location }}{% else %}还没地方放{% endif %}</span></p>
                        </div>
                        <!-- Sidebar Links -->
                        <div class="sidebar-link col-disable">
                            <!-- Search Box -->
                            {{ include("widget/sidebar.html.twig") }}
                        </div>
                    </div>
                </div>
                <!-- Main-bar Column -->
                <div class="col-md-9">
                    <div class="page-mainbar product">
                        <!-- Heading -->
                        <h3>书籍详情</h3>
                        <!-- Product Content -->
                        <div class="row">
                            <div class="col-md-8 col-sm-7">
                                <!-- Product Carousel -->
                                <div id="carousel-example-generic" class="carousel slide">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="{% if api=='prod' %}https://api.rsywx.com/book/image/{% else %}http://api/book/image/{% endif %}{{ book.bookid  }}/{{ book.author }}/{{ book.title }}/600" class="img-responsive" alt="{{ book.title }}" />
                                        </div>
                                    </div>

                                    <!-- Controls -->

                                </div>
                                <!-- Recent Product -->
                                <div class="recent-product">
                                    <!-- Heading -->
                                    <h3>Recent Products</h3>
                                    <a href="#"><img src="img/nav1.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                    <a href="#"><img src="img/w1.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                    <a href="#"><img src="img/w2.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                    <a href="#"><img src="img/w3.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5">
                                <div class="product-sidebar">
                                    <div class="sidebar-widget br-green">
                                        <!-- Heading // Icon -->
                                        <h4><i class="fas fa-tags"></i> TAGs</h4>
                                        <!-- Paragraph -->
                                        <p>
                                            {% for tag in book.tags %}
                                                <a href="{{ path("list", {type: 'tag', key:tag.tag}) }}">{{ tag.tag }}</a>&nbsp;
                                            {% endfor  %}
                                        </p>
                                    </div>

                                    <div class="sidebar-widget br-lblue">
                                        <!-- Heading -->
                                        <h4><i class="fab fa-readme "></i> 书籍简介</h4>
                                        <!-- List -->
                                        {% if book.intro|length !=0 %}
                                            <p>{{ book.intro|nl2br }}</p>
                                        {% else %}
                                            <p>本书还没有简介</p>
                                        {% endif %}
                                        <!-- Button -->
                                    </div>
                                    <div class="sidebar-widget br-orange">
                                        <!-- Heading // Icon -->
                                        <h4><i class="fas fa-book-reader"></i> 读书笔记</h4>
                                        <!-- Paragraph -->
                                        {% if book.reviews|length==0 %}
                                            <p>这本书还没有任何书评。</p>
                                        {% else %}
                                            {% for review in book.reviews %}
                                                <p><i class="fas fa-angle-right"></i> <a href="{{ review.URI }}" title="写作于{{ review.datein }}" target="_blank">{{ review.title }}</a></p>
                                                {% endfor %}
                                            {% endif %}
                                    </div>
                                    <div class="sidebar-widget br-yellow">
                                        <!-- Heading // Icon -->
                                        <h4><i class="fas fa-info"></i> 其他信息</h4>
                                        <!-- Paragraph -->
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col">项目</th>
                                                    <th scope="col">描述</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">出版日期：</th>
                                                    <td>{{ book.pubdate }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">印刷日期：</th>
                                                    <td>{{ book.printdate }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">版次：</th>
                                                    <td>{{ book.ver }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">购书日期：</th>
                                                    <td>{{ book.purchdate }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">价格：</th>
                                                    <td>{{ book.price }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">装帧：</th>
                                                    <td>{{ book.deco }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">千字数：</th>
                                                    <td>{{ book.kword }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">页数：</th>
                                                    <td>{{ book.page }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
