<footer class="footer footer-dark pt50 pb10">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb40">
                <h3>关于我们</h3>
                <p>任氏有无轩是一个专注藏书、读书、博客、维客的个人站点。</p>
                <p>更多介绍可见<a href="http://rsywx.com/rsywxmmj">《任氏有无轩铭名记》</a>、<a href="http://rsywx.com/rsywxmmj2">《任氏有无轩铭名二记》</a>和<a href="http://rsywx.com/rsywxmmj3">《任氏有无轩铭名三记》</a>。
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>家庭成员</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>TR<br><em>生日：02.10</em></li>
                    <li>GR<br><em>生日：05.08</em></li>
                    <li>PR<br><em>生日：09.19</em></li>
                </ul>
            </div>
            <div class="col-lg4 col-md-6 mb40">
                <h3>主力站点</h3>
                <div class="clearfix">
                    <a href="https://rsywx.net">
                        <img src="/img/default.jpg" alt="任氏有无轩藏书" title="任氏有无轩藏书" class="img-fluid" width="90">
                    </a><!--/.hover-->
                    <a href="http://rsywx.com">
                        <img src="/img/default.jpg" alt="任氏有无轩维客" title="任氏有无轩维客" class="img-fluid" width="90">
                    </a><!--/.hover-->
                    <a href="https://blog.rsywx.net">
                        <img src="/img/default.jpg" alt="任氏有无轩博客" title="任氏有无轩博客" class="img-fluid" width="90">
                    </a><!--/.hover-->
                </div><!--/.clearfix-->
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <span>&copy; Copyright 1989-{{ "now"|date("Y") }}</span>
                </div>
                <div class="col-sm-8 text-right">
                    <ul class="list-inline footer-nav">
                        <li class="list-inline-item">
                            <a href="{{ path('home') }}">首页</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('list', {type: 'title', key: 'all'}) }}">藏书</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('read') }}">读书</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://blog.rsywx.net" target="_blank">博客</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://rsywx.com" target="_blank">维客</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('contact') }}">联系站长</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>