<ul class="list-unstyled">
    <li><a href="{{ path('home') }}" class="animated">首页 <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="{{ path('about') }}" class="animated">我们一家人<i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="{{ path('list', {type: 'title', key: 'all'}) }}" class="animated">藏书 <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="{{ path('read') }}" class="animated">读书 <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="https://blog.rsywx.net/" class="animated">博客 <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="http://rsywx.com/" class="animated">维客 <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="{{ path('contact') }}" class="animated">联系站长 <i class="fas fa-angle-double-right"></i></a></li>
</ul>